<div class="row user-nav" ng-controller="sessionController">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Dashboard</a></li>
      <li role="presentation"><a href="#" ng-click="logoutSubmit();">Logout</a></li>
    </ul>
  </div>
</div>
