
<div class="col-xs-12" ng-controller="dashboardController">
  <user-nav></user-nav>
  <div class="row">
    <div class="col-xs-6">
      <h1> Welcome {{ user.email }} </h>
    </div>
    <div class="col-xs-4 col-xs-offset-2">
      <h5>{{ todaysDate | date:'medium' }}</h5>
    </div>
    <div class="col-xs-12">
      <div ng-controller="BillController">
        <button class="btn btn-success" ng-click="open('lg')">
          <span class="glyphicon glyphicon-plus" ></span>
            Create New Bill
          </button>
      </div>
    </div>
  </div>


  <div class="row">

    <div ng-repeat="bill in bills.data" class="col-md-4">
      <div class="panel panel-primary bill-panel bill-due">
        <div class="panel-heading">
          <b class="panel-title"> {{ bill.name }} </b>  ({{ bill.amount | currency }})
          <span class="glyphicon glyphicon-unchecked pull-right bill-icon"></span>
          <span class="glyphicon glyphicon-cog pull-right bill-icon"></span>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <img ng-src="{{ bill.logo_url }}" class="img-thumbnail bill-logo">
          </div>
          <div class="col-xs-12" ng-cloak>
            <div class="row"><label> Last Payment: </label> <b>{{ bill.last_payment.amount | currency }}</b></div>
            <div class="row"><label> Last Paid Date: </label> <b>{{ bill.last_payment.paid_date | date: "MM/dd/yyyy" }}</b></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<script>
var dashboardIndex = {
  navBar: "<%= j render :partial => 'dashboards/nav' %>",
  createBill: "<%= j render :partial => 'bills/create' %>"
};
</script>
