
<div class="col-xs-12" ng-controller="dashboardController">
  <user-nav></user-nav>
  <div class="row">
    <div class="col-xs-6">
      <h1> Welcome {{ user.email }} </h>
    </div>
    <div class="col-xs-4 col-xs-offset-2">
      <h5>{{ todaysDate | date:'medium' }}</h5>
    </div>
    <div class="col-xs-12">
      <div ng-controller="BillController">
        <button class="btn btn-success" ng-click="open('lg')">
          <span class="glyphicon glyphicon-plus"></span>
            Create New Bill
        </button>
      </div>
    </div>
  </div>


  <div class="row" ng-controller="BillHistoryController">

    <div ng-repeat="bill in bills.data" class="col-md-3 col-xs-6">
      <div class="panel panel-primary bill-panel bill-due">
        <div class="panel-heading">
          <b class="panel-title"> {{ bill.name }} </b>
          <span class="glyphicon glyphicon-cog pull-right bill-icon"></span>
        </div>
        <div class="panel-body">

          <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="">
                <a ng-href="{{ bill.company_url }}" target="_blank">
                  <img ng-src="{{ bill.logo_url }}" class="img-thumbnail bill-logo">
                </a>
              </div>
              <div class="section-space">
                <a class="btn btn-success" ng-click="open('lg', bill, $index);">
                  Declare Paid
                </a>
              </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="cal-header">
                <div>{{ bill.due | date: 'MMM'}}</div>
              </div>
              <div class="cal-body center-block">
                <div>{{ bill.due | date: 'd'}}</div>
              </div>
            </div>
            
          </div>

          <div class="section-space">

            <div class="row">
              <div class="col-sm-6">
                <label> Due: </label>
              </div>
              <div class="col-sm-6">
                <b> {{ bill.amount | currency }}</b>
              </div>
            </div>
            <hr class="dotted-line" />

            <div class="row">
              <div class="col-sm-6">
                <label> Last Amount: </label>
              </div>
              <div class="col-sm-6">
                <b> {{ bill.last_payment.amount | currency }} </b>
              </div>
            </div>
            <hr class="dotted-line" />

            <div class="row">
              <div class="col-sm-6">
                <label> Paid Date: </label>
              </div>
              <div class="col-sm-6">
                <b> {{ bill.last_payment.paid_date | date: "MM/dd/yyyy" }} </b>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>

<script>
var dashboardIndex = {
  navBar: "<%= j render :partial => 'dashboards/nav' %>"
};
</script>
