<form name="form" role="form" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">New Bill</h3>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-xs-12 form-group">
          <div class="col-xs-3">
            <label for="name">Name</label>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="bill.name" id="name" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 form-group">

          <div class="col-xs-3">
            <label for="company_url">Company Url</label>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="bill.company_url" id="company_url" />
          </div>

          <div class="col-xs-3">
            <label for="logo_url">Company Logo Url</label>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="bill.logo_url" id="logo_url" />
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 form-group">
          <div class="col-xs-3">
            <label for="amount">Standard Amount</label>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="bill.amount" id="amount">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 form-group">
          <div class="col-xs-3">
            <label for="due-date">Due Date</label>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="bill.due" id="due-date">
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-orange" ng-click="ok();" ng-disabled="form.$invalid">OK</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</form>
