<form name="form" role="form" ng-submit="ok();" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">New Bill</h3>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-xs-12 form-group">
          <div class="col-xs-6">
            <input type="text" class="form-control" ng-model="bill.name" id="name" placeholder="Name"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 form-group">
          <div class="col-xs-6">
            <input type="text" class="form-control" ng-model="bill.company_url" id="company_url" placeholder="Company Url" />
          </div>

          <div class="col-xs-6">
            <input type="text" class="form-control" ng-model="bill.logo_url" id="logo_url" placeholder="Logo Url" />
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 form-group">
          <div class="col-xs-6">
            <input type="text" class="form-control" ng-model="bill.amount" id="amount" placeholder="Amount">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 form-group">
          <div class="col-xs-6">
            <input type="text" class="form-control" ng-model="bill.due" id="due-date" placeholder="Due Date">
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-orange" ng-disabled="form.$invalid">OK</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</form>
